
.vs/Projekt_UAR/FileContentIndex/1fc01101-1100-47b3-aed0-62c3722d86b6.vsidx
.vs/Projekt_UAR/FileContentIndex/600b4e84-a8bc-48ff-aa2b-d73a8009d344.vsidx
.vs/Projekt_UAR/FileContentIndex/f00fb1d3-3cdb-44aa-83f2-aec9f20e4881.vsidx
.vs/Projekt_UAR/v17/.suo
.vs/Projekt_UAR/v17/Browse.VC.db
.vs/Projekt_UAR/v17/Browse.VC.db-shm
.vs/Projekt_UAR/v17/Browse.VC.db-wal
.vs/Projekt_UAR/v17/Browse.VC.opendb
.vs/Projekt_UAR/FileContentIndex/a7dd60ef-8584-44f1-a57a-65949f1910c0.vsidx
/.vs/Projekt_UAR/FileContentIndex
*.vcxproj
*.db
/.vs
.vs/Projekt_UAR/v16/Browse.VC.db
.vs/Projekt_UAR/v16/Browse.VC.db
